
@{
    ViewBag.Title = "Save";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
</head>
<body>
    <div>
        <h2>Employee Added</h2>
    </div>
</body>
</html>


